<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90094554089-42162hoiff1t0a5rhk7hfmhb3ossetjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90094554089-42162hoiff1t0a5rhk7hfmhb3ossetjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCB648a1oJqz57MEQ7H0D4UsKzbjS-nIpI</string>
	<key>GCM_SENDER_ID</key>
	<string>90094554089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.che.StaffComs</string>
	<key>PROJECT_ID</key>
	<string>che-communicator</string>
	<key>STORAGE_BUCKET</key>
	<string>che-communicator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90094554089:ios:a3f68990544be959d8d978</string>
</dict>
</plist>